.changing-divs {
    border:#000 1px solid;
    width:100%;
    height:300px;
}

.margin-top-20 {
    margin-top:20px;
}

.big-blue {
  width:400px !important;
  height:400px !important;
  background-color:#06c;
  transition:all 0.5s ease-in-out;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38eac1;
    background-image:url("goats.gif");
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    text-align:center;

}
